<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>stat_city</title>
    <!--Статистика по городам конкретного региона-->
</head>
<body>
    <a href = "{{url_for('index')}}">Главное</a>
    <br>
    <a href = "{{url_for('comment')}}">comment</a>
    <br>
    <a href = "{{url_for('view')}}">view</a>
    <br>
    <a href = "{{url_for('stat')}}">stat</a>
    <br>
    <table class="table_blur">
        <!--вверхняя строка-->
        <tr>
            <th>{{region}}</th>
            <th>Кол-во комментарев</th>
        </tr>
        <!--Вывод строк по городам-->
        {%  for item in data %}
            <tr>
                <td>{{item[0]}}</td>
                <td>{{item[1]}}</td>
            </tr>
        {% endfor %}
    </table>
</body>
</html>